<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="form-save">
		<form th:action="@{/save}" th:method="post">
			<div class="form-save-input">
				<label for="id">Input id:</label> <input id="id" type="number" name="id" />
			</div>
			<div class="form-save-input">
				<label for="firstName">Input first name:</label> <input id="firstName" type="text" name="firstName" />
			</div>
			<div class="form-save-input">
				<label for="lastName">Input last name:</label> <input id="lastName" type="text" name="lastName" />
			</div>
			<input class="form-button" type="submit" value="save" />
		</form>
	</div>
</body>
</html>